<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection" />
  </configSections>
  <basicAuth>
    <credentials>
      <add username="olympia" password="ignite!@#$%"/>
    </credentials>
  </basicAuth>
  <system.webServer>
    <modules>
      <add name="MyBasicAuthenticationModule" type="Devbridge.BasicAuthentication.BasicAuthenticationModule"/>
    </modules>
  </system.webServer>
</configuration>