<div class="row">
	<div class="col-sm-7">
		<div class="form-group">
			<select class="btn btn-default multiSelectOption" multiple="multiple">
				<option value="1" selected>Alle vestigingen</option>
				<option value="133" label="Amsterdam">Amsterdam</option>
				<option value="133" label="Amsterdam Haarlemmerstraat">Amsterdam Haarlemmerstraat</option>
				<option value="559" label="Barendrecht - Inhouse Greenery">Barendrecht - Inhouse Greenery</option>
				<option value="143" label="Barendrecht">Barendrecht</option>
				<option value="117" label="Den Bosch">Den Bosch</option>
				<option value="125" label="Groningen">Groningen</option>
			</select>	
		</div>
		<!-- <h2> Alle vestigingen</h2> -->
	</div>
	<div class="col-sm-5 text-right">
		<span class="push right--1x">Laatste update 12-07-2016</span>
		<input id="pickerToUpdate1" name="pickerToUpdate1" class="calenderRange">
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Contact na sollicitatie</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<div class="piechartEqualizer">
					<table class="table table-striped table-reports table-striped space-bottom-2x" >
						<thead>
							<tr>
								<th class=" align-center font-size-normal"><div>Kandidaten met CCE-rapportage<span class="info popoverData" data-content="Afgeronde kandidaten" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Gecontacteerd<span class="info popoverData" data-content="Gecontacteerd" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Niet gecontacteered<span class="info popoverData" data-content="Niet gecontacteered" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="white" data-ng-bind="olympia.dashboard.kandidatenCcerapportageNumber"></td>
								<td data-ng-bind="olympia.dashboard.gecontacteerdNumber"></td>
								<td data-ng-bind="olympia.dashboard.nietGecontacteeredNumber"></td>
							</tr>
							<tr>
								<td class="white">100%</td>
								<td data-ng-bind="olympia.dashboard.gecontacteerdPercent + '%'"></td>
								<td data-ng-bind="olympia.dashboard.nietGecontacteeredPercent  + '%'"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="piechartEqualizer">
					<table class="table table-striped table-reports table-striped" >
						<thead>
							<tr>
								<th class=" align-center font-size-normal"><div>Contactvorm<span class="info popoverData" data-content="Communicatie" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Binnen 1 werkdag<span class="info popoverData" data-content="binnen 1 werkdag" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Binnen 2 werkdagen<span class="info popoverData" data-content="binnen 2 werkdagen" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
								<th ><div>Langer dan 2 werkdagen<span class="info popoverData" data-content="langer dan 3 werkdagen" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="white">Gebeld én gesproken</td>
								<td data-ng-bind="olympia.dashboard.eenWerkdagGesproken">120</td>
								<td data-ng-bind="olympia.dashboard.tweeWerkdagGesproken">120</td>
								<td data-ng-bind="olympia.dashboard.langerWerkdagGesproken">120</td>
							</tr>
							<tr>
								<td class="white">Gemaild / Voicemail ingesproken</td>
								<td data-ng-bind="olympia.dashboard.eenWerkdagVoiceMail">120</td>
								<td data-ng-bind="olympia.dashboard.tweeWerkdagVoiceMail">120</td>
								<td data-ng-bind="olympia.dashboard.langerWerkdagVoiceMail">120</td>
							</tr>
							<tr>
								<td class="white">&nbsp;</td>
								<td data-ng-bind="olympia.dashboard.eenWerkdagPercent + '%'">15%</td>
								<td data-ng-bind="olympia.dashboard.tweeWerkdagPercent + '%'">20%</td>
								<td data-ng-bind="olympia.dashboard.langerWerkdagPercent + '%'">120%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-4">
				<!-- Graph -->
				<div id="piechart" style="height:200px"></div>
				<div id="piechart1" style="height:200px"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Passende (overall matchingscore) kandidaten op OCC pool-/selectiegesprek</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Passende kandidaten<span class="info popoverData" data-content="Passende kandidaten" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Pool-/intakegesprek plaatsgevonden<span class="info popoverData" data-content="Pool-/intakegesprek plaatsgevonden" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Geen verdere opvolging<span class="info popoverData" data-content="Geenverdereopvolging" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.passendeKandidatenNumber + '(' + olympia.dashboard.passendeKandidatenCombinedPercent + ')'">120</td>
							<td data-ng-bind="olympia.dashboard.intakegesprekPlaatsgevondenNumber">120</td>
							<td data-ng-bind="olympia.dashboard.verdereOpvolgingNumber">120</td>
						</tr>
						<tr>
							<td class="white">100%</td>
							<td data-ng-bind="olympia.dashboard.intakegesprekPlaatsgevondenPercent + '%'">20%</td>
							<td data-ng-bind="olympia.dashboard.verdereOpvolgingPercent + '%'">20%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				<!-- Graph -->
				<div id="piechart2"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row" data-ng-class="{'grayedOut' : !olympia.isKandidaten}">
	<div class="col-sm-12">
		<h3>Kandidaten voorstellen bij klant</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Kandidaten Pool-/intakegesprek plaatsgevonden<span class="info popoverData" data-content="Kandidaten Pool-/intakegesprek plaatsgevonden" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten voorgesteld bij klant<span class="info popoverData" data-content="Kandidaten voorgesteld bij klant" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Sollicitatiegesprekken ingepland bij klant<span class="info popoverData" data-content="Sollicitatiegesprekken ingepland bij klant" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Sollicitatiegesprekken plaatsgevonden bij klant<span class="info popoverData" data-content="Sollicitatiegesprekken plaatsgevonden bij klant" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten geplaatst<span class="info popoverData" data-content="Kandidaat geplaatst" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten niet geplaatst<span class="info popoverData" data-content="Kandidaten niet geplaatst" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.intakegesprekPlaatsgevondenNumber">120</td>
							<td data-ng-bind="olympia.dashboard.kandidatenVoorgesteldklantNumber">120</td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenIngeplandKlantNumber">120</td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenPlaatsgevondenKlantNumber">120</td>
							<td data-ng-bind="olympia.dashboard.kandidatenGeplaatstNumber">120</td>
							<td data-ng-bind="olympia.dashboard.kandidatenNietGeplaatstNumber">120</td>
						</tr>
						<tr>
							<td class="white">100%</td>
							<td data-ng-bind="olympia.dashboard.kandidatenVoorgesteldklantPercent + '%'">100%</td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenIngeplandKlantPercent + '%' + '(' + olympia.dashboard.sollicitatiegesprekkenIngeplandKlantCombinedPercent + '%)'">80% (15%)</td>
							<td data-ng-bind="olympia.dashboard.sollicitatiegesprekkenPlaatsgevondenKlantPercent + '%' + '(' + olympia.dashboard.sollicitatiegesprekkenPlaatsgevondenKlantCombinedPercent + '%)'">80% (15%)</td>
							<td data-ng-bind="olympia.dashboard.kandidatenGeplaatstPercent + '%' + '(' + olympia.dashboard.kandidatenGeplaatstCombinedPercent + '%)'">80% (15%)</td>
							<td data-ng-bind="olympia.dashboard.kandidatenNietGeplaatstPercent + '%' + '(' + olympia.dashboard.kandidatenNietGeplaatstCombinedPercent + '%)'">80% (15%)</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-2">
				<!-- <h5>Gesproken kandidaten geplaatst</h5> -->
				<!-- Graph -->
				<div id="piechart3"></div>
			</div>
			<div class="col-sm-2">
				 <!-- <h5>Voorgestelde kandidaten geplaatst</h4> -->
				<!-- Graph -->
				<div id="piechart7"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Kopie van Kandidaten voorstellen bij klant</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Kandidaten Pool-/intakegesprek plaatsgevonden<span class="info popoverData" data-content="Kandidaten Pool-/intakegesprek plaatsgevonden" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten voorgesteld bij klant<span class="info popoverData" data-content="Kandidaten voorgesteld bij klant" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Sollicitatiegesprekken ingepland bij klant<span class="info popoverData" data-content="Sollicitatiegesprekken ingepland bij klant" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Sollicitatiegesprekken plaatsgevonden bij klant<span class="info popoverData" data-content="Sollicitatiegesprekken plaatsgevonden bij klant" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Kandidaten geplaatst<span class="info popoverData" data-content="Kandidaat geplaatst" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.allGespreksDatumCandidates">120</td>
							<td data-ng-bind="olympia.dashboard.allVoorstelDatumCandidates">120</td>
							<td data-ng-bind="olympia.dashboard.allSollicitatieIngevoerdCandidates">120</td>
							<td data-ng-bind="olympia.dashboard.allSollicitatieDatumCandidates">120</td>
							<td data-ng-bind="olympia.dashboard.allPlaatsingsDatumNormaalWervingCandidates">120</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				<!-- <h5>Gesproken kandidaten geplaatst</h5> -->
				<!-- Graph -->
				<div id="columnChart"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Geplaatste OCC kandidaten</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Uitzendplaatsingen aangemaakt<span class="info popoverData" data-content="Uitzendplaatsingen aangemaakt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th class=" align-center font-size-normal"><div>W&S plaatsingen aangemaakt<span class="info popoverData" data-content="W&S plaatsingen aangemaakt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Totaal aantal plaatsingen aangemaakt<span class="info popoverData" data-content="Totaal aantal plaatsingen aangemaakt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Uitzendplaatsingen met urenbriefje<span class="info popoverData" data-content="Uitzendplaatsingen met urenbriefje" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							
							<th ><div>W&S plaatsingen gefactureerd<span class="info popoverData" data-content="W&S plaatsingen gefactureerd" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Totaal aantal plaatsingen plaatsgevonden<span class="info popoverData" data-content="Totaal aantal plaatsingen plaatsgevonden" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.uitzendPlaatsingenAangemaaktNumber">120</td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenAangemaaktNumber">120</td>
							<td data-ng-bind="olympia.dashboard.totaalAantalPlaatsingenAangemaakt">60/120</td>
							<td data-ng-bind="olympia.dashboard.uitzendplaatsingenMetUrenbriefjeNumber">120</td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenGefactureerdNumber">60/120</td>
							<td data-ng-bind="olympia.dashboard.totaalAantalPlaatsingenPlaatsgevonden">60/120</td>
						</tr>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.uitzendPlaatsingenAangemaaktPercent">60% (15%)</td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenAangemaaktPercent">50% (15%)</td>
							<td>100%</td>
							<td data-ng-bind="olympia.dashboard.uitzendplaatsingenMetUrenbriefjePercent">50% (15%)</td>
							<td data-ng-bind="olympia.dashboard.wsPlaatsingenGefactureerdPercent">50% (15%)</td>
							<td>100%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				<!-- Graph -->
				<div id="stackedChart"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Kopie van Geplaatste OCC kandidaten</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Uitzendplaatsingen aangemaakt<span class="info popoverData" data-content="Uitzendplaatsingen aangemaakt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th class=" align-center font-size-normal"><div>W&S plaatsingen aangemaakt<span class="info popoverData" data-content="W&S plaatsingen aangemaakt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th ><div>Totaal aantal plaatsingen aangemaakt<span class="info popoverData" data-content="Totaal aantal plaatsingen aangemaakt" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.allPlaatsingsDatumNormaalCandidates">120</td>
							<td data-ng-bind="olympia.dashboard.allPlaatsingsDatumWervingCandidates">120</td>
							<td data-ng-bind="olympia.dashboard.sumNormaalandWervingCandidates">60/120</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				<!-- Graph -->
				<div id="columnChart1"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Geplaatste OCC-kandidaten gecontacteerd</h3>
		<div class="row">
			<div class="col-sm-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th class=" align-center font-size-normal"><div>Contactmoment na 1e week
								<span class="info popoverData" data-content="Contactmoment na 1e week" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span>
								</div>
							</th>
							<th ><div>Contactmoment na 1e maand<span class="info popoverData" data-content="Contactmoment na 1e maand" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th><div>Contactmoment na 3e maand<span class="info popoverData" data-content="Contactmoment na 3e maand" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th><div>3 maandelijks contact vanaf 6 maanden<span class="info popoverData" data-content="3 maandelijks contact vanaf 6 maanden" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.contactMomentOneWeekNumberActual + '/' + olympia.dashboard.contactMomentOneWeekNumberTotal">60/120</td>
							<td data-ng-bind="olympia.dashboard.contactMomentOneMaandNumberActual + '/' + olympia.dashboard.contactMomentOneMaandNumberTotal">60/120</td>
							<td data-ng-bind="olympia.dashboard.contactMomentThreeMaandNumberActual + '/' + olympia.dashboard.contactMomentThreeMaandNumberTotal">60/120</td>
							<td data-ng-bind="olympia.dashboard.contactVanafSixMaandenNumberActual + '/' + olympia.dashboard.contactVanafSixMaandenNumberTotal">60/120</td>
						</tr>
						<tr>
							<td class="white" data-ng-bind="olympia.dashboard.contactMomentOneWeekPercent + '%'">20%</td>
							<td data-ng-bind="olympia.dashboard.contactMomentOneMaandPercent + '%'">60%</td>
							<td data-ng-bind="olympia.dashboard.contactMomentThreeMaandPercent + '%'">50%</td>
							<td data-ng-bind="olympia.dashboard.contactVanafSixMaandenPercent + '%'">50%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4">
				<!-- Graph -->
				<div id="stackedChart1"></div>
			</div>
		</div>
	</div>
</div>