table.table-reports tr th, table.table-reports tr td{
	vertical-align: middle;
	word-break: break-word;
}
table.table-reports tr th:first-child{
	font-size:1.1em;
}
.piechartEqualizer{
	height:200px;
}

/*Select2 css*/
.select2-container .select2-selection--multiple{
	min-height:33px;
	max-height:100px;
	overflow-y:	auto; 
}

.grayedOut table{
	color:#9E9E9E;
}	
.helper{
	color:#757575;
}

@media print{
	table{
		background-color:#f8f8f8;
		-webkit-print-color-adjust: exact; 
	}
}

