<div class="row">
	<div class="col-xs-7">
		<div class="form-group">
			<select class="btn btn-default multiSelectOption" multiple="multiple">
				<option value="1" selected>Alle vestigingen</option>
				<option value="133" label="Amsterdam">Amsterdam</option>
				<option value="133" label="Amsterdam Haarlemmerstraat">Amsterdam Haarlemmerstraat</option>
				<option value="559" label="Barendrecht - Inhouse Greenery">Barendrecht - Inhouse Greenery</option>
				<option value="143" label="Barendrecht">Barendrecht</option>
				<option value="117" label="Den Bosch">Den Bosch</option>
				<option value="125" label="Groningen">Groningen</option>
			</select>
		</div>
		<!-- <h2> Alle vestigingen</h2> -->
	</div>
	<div class="col-xs-5 text-right">
		<span class="push right--1x">Laatste update 12-07-2016</span>
		<input id="pickerToUpdate1" name="pickerToUpdate1" class="calenderRange">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Gemiddelde duur in maken Contact Center Experience (CCE)</h3>
		<div class="row">
			<div class="col-xs-8">
				<!-- Table view -->
				<p>Gem 3d 13u 12min</p>
			</div>
			<div class="col-xs-4">
				<!-- Graph -->

			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Overall Matchingscores CCE</h3>
		<div class="row">
			<div class="col-xs-8">
				<!-- Table view -->
				<table class="table table-striped table-reports table-striped" >
					<thead>
						<tr>
							<th width="6%" class=" align-center font-size-normal"><div>Totaal<span class="info popoverData" data-content="Totaal" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th width="6%"><div>0-39 ‘niet passend’<span class="info popoverData" data-content="0-39 ‘niet passend’" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th width="6%"><div>40-75 ‘passend’<span class="info popoverData" data-content="40-75 ‘passend’" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
							<th width="6%"><div>76-100 ‘overgekwalificeerd’<span class="info popoverData" data-content="76-100 ‘overgekwalificeerd’" rel="popover" data-placement="bottom" data-trigger="hover"><i class="fa fa-question-circle"></i></span></div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="white">250</td>
							<td>50</td>
							<td>150</td>
							<td>50</td>
						</tr>
						<tr>
							<td class="white">100%</td>
							<td>20%</td>
							<td>60%</td>
							<td>20%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-4">
				<!-- Graph -->
				<div id="piechart5"></div>
			</div>
		</div>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Gemiddelde duur in plaatsing vanaf sollicitatie (na afronden van de CCE)</h3>
		<div class="row">
			<div class="col-xs-8">
				<p>Gem 3w 2d 14u 10min</p>
				<p>Geschikte kandidaten</p>
			</div>
			<div class="col-xs-4">
				<!-- Graph -->

			</div>
		</div>
	</div>
</div>
<div class="row hidden-print">
	<div class="col-xs-12 text-left">
		<button type="submit" class="btn btn-default" data-ng-click="olympia.printPage()">Print</button>
	</div>
</div>