table.table-reports tr th, table.table-reports tr td{
	vertical-align: middle;
	word-break: break-word;
}
table.table-reports tr th:first-child{
	font-size:1.1em;
}
.piechartEqualizer{
	height:200px;
}